* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 25px;
}

body {
    max-width: 100%;
    height: auto;
    font-family: 'Quattrocento', serif;
    scroll-behavior: smooth;
    background: linear-gradient(135deg, #f0eae0, #c8c1ba);
    transition: background-color 0.5s ease;
}

.cover-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #394862, #f0eae0);
    color: #253859;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.cover-page h1 {
    font-family: 'Klee One', cursive;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 3px 3px 0px #00000080;
    margin-bottom: 0.5em;
}

.clickable-title {
    font-family: 'Klee One', cursive;
    font-size: 4em;
    font-weight: bold;
    color: #1b325b;
    cursor: pointer;
    margin-bottom: 0.5em;
    animation: pulsateGlow 2s ease-in-out infinite;
    text-align: center;
}

.cover-page p {
    font-family: 'Quattrocento', serif;
    font-size: 2em;
    margin: 0.25em 0;
}

.cover-page .subheading {
    font-family: 'Quattrocento', serif;
    font-size: 1.5em;
    font-style: italic;
    opacity: 0.8;
}

.poem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    scroll-margin-top: 20px;
}

.sentences {
    min-height: 100vh;
    width: 50vw;
    margin: 5vh auto 30px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.sentences p {
    opacity: 0; 
    transition: opacity 2s ease;
    margin-bottom: 80px;
}

.sentences:hover p {
    opacity: 1; 
}

.sentences span {
    font-size: 40px;
    transition: color 0.5s ease, transform 0.5s ease;
}

.sentences:hover span {
    color: #394862;
    transform: translateY(-5px);
}

.aw1 span {
    font-family: 'Calligraffitti', cursive; 
    display: inline-block;
    transform: translateY(0) scale(1);
    transition: transform 0.3s ease;
    margin: 0 4px;
}

.aw1:hover span {
    animation: spreadOut 2s ease forwards;
}

.aw1 span:nth-child(1) { animation-delay: 0s; }
.aw1 span:nth-child(2) { animation-delay: 0.2s; }
.aw1 span:nth-child(3) { animation-delay: 0.4s; }
.aw1 span:nth-child(4) { animation-delay: 0.6s; }
.aw1 span:nth-child(5) { animation-delay: 0.8s; }
.aw1 span:nth-child(6) { animation-delay: 1s; }
.aw1 span:nth-child(7) { animation-delay: 1.2s; }
.aw1 span:nth-child(8) { animation-delay: 1.4s; }

.aw2 { 
    font-family: 'Bangers', cursive; 
    transform: scale(5.5); 
}

.aw2:hover { 
    transform: scale(5.5);
    display: inline-block;
    animation: shake 0.5s infinite;
}

.aw3 { 
    font-family: 'Faster One', cursive;
    display: inline-block;
    cursor: pointer;
}

.aw3 span {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.aw3 .h, .aw3 .a, .aw3 .s, .aw3 .t, .aw3 .e {
    display: inline-block;
    position: relative;
    animation: trickleDown 3s forwards;
    animation-delay: 2s;
    animation-play-state: paused;
    cursor: pointer;
}

.aw3:hover .h, 
.aw3:hover .a, 
.aw3:hover .s, 
.aw3:hover .t, 
.aw3:hover .e {
    animation-play-state: running; 
    overflow: hidden;
    position: relative;
    transform: translateX(-100vw);
    transition: transform 0.5s ease;
    animation: slideIn 2s forwards; 
    text-shadow: 0 0 10px #b11919; 
}

.aw3.clicked .h, 
.aw3.clicked .a, 
.aw3.clicked .s, 
.aw3.clicked .t, 
.aw3.clicked .e {
    animation: sideToSideDownward 0.5s ease-in-out infinite alternate;
}
.aw3.clicked span {
    animation: sideToSideDownward 2s ease-in-out forwards;
}
.aw3:hover span {
    animation: slideIn 2s forwards; 
    transition: transform 0.5s ease, color 0.5s ease 1.5s; 
}

.aw4 {
    font-family: 'Klee One', cursive;
    display: inline-block; 
    cursor: pointer; 
}

.aw4 span {
    display: inline-block;
    position: relative;
    transition: transform 0.5s ease, color 0.5s ease, text-shadow 0.5s ease; 
    color: black;
    text-shadow: none;
}

.aw4:hover .p {
    transform: translate(-60px, 20px);
    color: #e5e568; 
    text-shadow: 0 0 10px #eaea9b; 
}

.aw4:hover .e1 {
    transform: translate(-30px, -10px);
    color: #e5e568; 
    text-shadow: 0 0 10px #eaea9b; 
}

.aw4:hover .a {
    transform: translate(0, -20px);
    color: #e5e568; 
    text-shadow: 0 0 10px #eaea9b; 
}

.aw4:hover .c {
    transform: translate(30px, -10px);
    color: #e5e568; 
    text-shadow: 0 0 10px #eaea9b; 
}

.aw4:hover .e2 {
    transform: translate(60px, 20px);
    color: #e5e568; 
    text-shadow: 0 0 10px #eaea9b; 
}

.aw5 { 
    font-family: 'Swanky and Moo Moo', cursive; 
    display: inline-block;
    cursor: pointer;
} 

.aw5:hover {
    animation: flatline 5s ease-in-out ;
    color: #b11919;
    text-shadow: 0 0 10px #b11919; 
}

.aw5 span:nth-child(1) { animation-delay: 0s; }
.aw5 span:nth-child(2) { animation-delay: 0.1s; }
.aw5 span:nth-child(3) { animation-delay: 0.2s; }
.aw5 span:nth-child(4) { animation-delay: 0.3s; }
.aw5 span:nth-child(5) { animation-delay: 0.4s; }
.aw5 span:nth-child(6) { animation-delay: 0.5s; }
.aw5 span:nth-child(7) { animation-delay: 0.6s; }

.aw12 {
    font-family: 'Amatic SC', cursive;  
    display: inline-block; 
    vertical-align: baseline; 
    transform-origin: bottom;  
}

.aw12:hover {
    animation: flatline2 5s ease-in-out forwards; 
}

.aw13 span {
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.5s ease; 
    transform-origin: center;
    cursor: pointer;
    position: relative;
}

.aw13:hover span {
    text-shadow: 0 0 10px #b11919; 
}

.aw13:hover span:nth-child(1) { 
    transform: translateX(-80px) translateY(-40px) scale(1.8);
}

.aw13:hover span:nth-child(2) { 
    transform: translateX(-60px) translateY(60px) scale(1.8);
}

.aw13:hover span:nth-child(3) { 
    transform: translateX(40px) translateY(-80px) scale(1.8);
}

.aw13:hover span:nth-child(4) { 
    transform: translateX(60px) translateY(80px) scale(1.8);
}

.aw13:hover span:nth-child(5) { 
    transform: translateX(-40px) translateY(100px) scale(1.8);
}

.aw13:hover span:nth-child(6) { 
    transform: translateX(80px) translateY(-60px) scale(1.8);
}

.aw13.active span {
    transform: translateY(500px);  
    opacity: 0;
    transition: transform 2s ease-in, opacity 2s ease-out;
}

#pt8 span {
    transition: transform 5s ease;
    color: #c05050;
}

#pt8:hover span {
    transform: scale(3); 
    font-size: 120px; 
    text-shadow: 0 0 10px #b11919; 
}

.aw15 {
    display: inline-block;
    font-family: 'Swanky and Moo Moo', cursive;
}

.aw15:hover span {
    animation: depress 1s ease-in-out forwards;
}

.aw15 span {
    display: inline-block;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    transform: translateY(0);
}

.aw15 span:nth-child(1) { animation-delay: 0s; }
.aw15 span:nth-child(2) { animation-delay: 0.1s; }
.aw15 span:nth-child(3) { animation-delay: 0.2s; }
.aw15 span:nth-child(4) { animation-delay: 0.3s; }
.aw15 span:nth-child(5) { animation-delay: 0.4s; }
.aw15 span:nth-child(6) { animation-delay: 0.5s; }



.aw16 { font-family: 'Dokdo', cursive; }
.aw16:hover {
    transform: rotate(-5deg) scale(1.1);
    transition: transform 0.5s ease;
}

.aw17 { font-family: 'Klee One', cursive; }
.aw17:hover {
    animation: glow 1.5s ease-in-out infinite;
}

.aw18 { font-family: 'Cabin Sketch', cursive; }
.aw18:hover {
    transform: skewX(10deg) translateY(-10px);
    transition: transform 0.5s ease;
}

.aw19 { font-family: 'Impact', sans-serif; }
.aw19:hover {
    animation: pulse 1s infinite;
}

.aw20 { font-family: 'Finger Paint', cursive; }
.aw20:hover { font-family: 'Finger Paint', cursive; }

.aw21 { font-family: 'Homemade Apple', cursive; }
.aw21:hover {
    transform: skewX(10deg);
    transition: transform 0.5s ease;
}

@keyframes spreadOut {
    0%, 100% { transform: translateY(0) scale(1); }
    50% { transform: translateY(-20px) scale(1.5); }
}

@keyframes shake {
    0%, 100% { transform: translate(0, 0) scale(5.5); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-5px, -5px) scale(5.5); }
    20%, 40%, 60%, 80% { transform: translate(5px, 5px) scale(1.1); }
} 

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

@keyframes glow {
    0%, 100% { text-shadow: 0 0 5px #394862, 0 0 10px #394862; }
    50% { text-shadow: 0 0 20px #8a9ba8, 0 0 30px #8a9ba8; }
}

@keyframes pulsateGlow {
    0%, 100% {
        text-shadow: 0 0 15px #fff, 0 0 30px #b11919, 0 0 45px #b11919, 0 0 60px #b11919;
    }
    50% {
        text-shadow: 0 0 30px #fff, 0 0 45px #394e8e, 0 0 60px #394e8e, 0 0 75px #394e8e;
    }
}

@keyframes sideToSideDownward {
    0% { transform: translate(0, 0); }
    25% { transform: translate(20px, 100px); } 
    50% { transform: translate(-20px, 200px); } 
    75% { transform: translate(20px, 300px); }
    100% { transform: translate(0, 400px); }
}

@keyframes slideIn {
    0% { 
        transform: translateX(-100vw); 
        color: initial; 
    }
    90% {
        transform: translateX(0);
    }
    100% { 
        transform: translateX(0);
        color: #b11919;
    }
}

@keyframes moveE1 {
    from { transform: translate(0, 0); }
    to { transform: translate(-30px, -10px); }
}

@keyframes moveA {
    from { transform: translate(0, 0); }
    to { transform: translate(0, -40px); }
}

@keyframes moveC {
    from { transform: translate(0, 0); }
    to { transform: translate(30px, -10px); }
}

@keyframes moveE2 {
    from { transform: translate(0, 0); }
    to { transform: translate(60px, 20px); }
}


@keyframes flatline {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(10);
    }
}

@keyframes flatline2 {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(5);  
    }
}

@keyframes depress {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px); /* Adjust this value for the desired depression effect */
    }
}